__pycache__
/.pytest_cache
.DS_Store

*.aux
*.log
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*.pkl
*.out
*.npz
*.gz

tex/__latexindent_temp.tex
tex/bibli/__latexindent_temp.tex
tex/memo/lasso_overview.out
tex/memo/__latexindent_temp.tex

mtl_code/examples/.ipynb_checkpoints
.vscode/settings.json
mtl_code/mtl.egg-info/

solver_code/solver_lasso.egg-info/

solver_tex/cd_overview.pdf
solver_tex/prebuiltimages/residu_orth.pdf

.gitignore
solver_tex/prebuiltimages/umontpellier_logo.pdf
tex/article/article.pdf
tex/memo/lasso_overview.pdf
mtl_code/examples/benchmark_solvers/mne_solver/joblib
mtl_code/examples/mne_solver/joblib/
tex/article/content/__latexindent_temp.tex

meg_datacamp2020/.travis.yml
meg_datacamp2020/figs/
meg_datacamp2020/meg_starting_kit.ipynb
.gitignore
meg_datacamp2020/README.md
meg_datacamp2020/plot_topomap.py
