__pycache__
/.pytest_cache
*.aux
*.log
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*.pkl
*.out
tex/__latexindent_temp.tex
tex/bibli/__latexindent_temp.tex
mtl_code/examples/.ipynb_checkpoints
.vscode/settings.json
tex/memo/lasso_overview.out
tex/memo/__latexindent_temp.tex
.DS_Store
mtl_code/mtl.egg-info/
solver_code/solver_lasso.egg-info/
solver_tex/cd_overview.pdf
solver_tex/prebuiltimages/residu_orth.pdf
.gitignore
solver_tex/prebuiltimages/umontpellier_logo.pdf
tex/article/content/__latexindent_temp.tex
tex/article/article.pdf
tex/memo/lasso_overview.pdf
tex/article/content/__latexindent_temp.tex
mtl_code/examples/benchmark_solvers/mne_solver/joblib
