__pycache__
/.pytest_cache
*.aux
*.log
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*.pkl
*.out
tex/__latexindent_temp.tex
tex/bibli/__latexindent_temp.tex
mtl_code/examples/.ipynb_checkpoints
.vscode/settings.json
tex/memo/lasso_overview.out
tex/memo/__latexindent_temp.tex
.DS_Store
mtl_code/mtl.egg-info/
solver_code/solver_lasso.egg-info/
solver_tex/cd_overview.pdf
solver_tex/prebuiltimages/residu_orth.pdf
.gitignore
solver_tex/prebuiltimages/umontpellier_logo.pdf
tex/article/article.pdf
tex/memo/lasso_overview.pdf
mtl_code/examples/benchmark_solvers/mne_solver/joblib
mtl_code/examples/mne_solver/joblib/__main__--Users-pierre-antoine-Documents-inria_bilevel_optim-mtl_code-examples-mne_solver-plot_somato/load_data/72a755383fba437e4dead6ff3e3d81e3/metadata.json
mtl_code/examples/mne_solver/joblib/__main__--Users-pierre-antoine-Documents-inria_bilevel_optim-mtl_code-examples-mne_solver-plot_somato/load_data/func_code.py
mtl_code/examples/mne_solver/joblib/__main__--Users-pierre-antoine-Documents-inria_bilevel_optim-mtl_code-examples-mne_solver-generate_data/load_data/func_code.py
mtl_code/examples/mne_solver/joblib/__main__--Users-pierre-antoine-Documents-inria_bilevel_optim-mtl_code-examples-mne_solver-generate_data/load_data/72a755383fba437e4dead6ff3e3d81e3/metadata.json
tex/article/content/__latexindent_temp.tex
